html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.url-input {
  margin: 0.5em 0;
  width: 100%;
  box-sizing: border-box;
  background-color: hsla(var(--color-neutral), calc(var(--alpha-background-light) / 2));
  cursor: auto;
}

.checkbox-container {
  margin: 0.5em 0;
  display: inline-flex;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
}

.warning {
  margin-left: 0.5em;
}

.graphiql-share-link-dialog .graphiql-dialog-header {
  min-width: 400px;
}

.graphiql-share-link-dialog .graphiql-dialog-section > div {
  width: 100%;
}

.graphiql-share-link-dialog .url-input {
  margin: 0;
  margin-right: 1em;
  flex: auto;
}

.graphiql-share-link-dialog button.graphiql-button {
  flex: 1 0 6rem;
}

.graphiql-share-link-dialog .graphiql-copy-button-section {
  display: flex;
  margin-top: 1em;
}

.docExplorerWrap {
  height: auto !important;
}
